set_io AT_MISO B1
set_io AT_MOSI C1
set_io AT_SCLK D1
set_io AT_IRQ D2
set_io AT_CS C2
set_io AT_RESET_N R3
set_io FPGA_RXCLK J3
set_io FPGA_RX24 F1
set_io FPGA_TXCLK T3
set_io FPGA_TX_24_900 T2
set_io FPGA_RX900 T1
set_io LED2 A1 
set_io LED3 A2 
set_io clk_in R9 
set_io AUDIO_SDIN T8 
set_io AUDIO_SCLK T7 
set_io AUDIO_LRCLK T6 
set_io AUDIO_MCLK T5 
set_io CBSEL P13
set_io TUNER_SCK B10
set_io TUNER_MOSI B9
set_io TUNER_CS B8
set_io TUNER_MISO A9
set_io BT1 A5
set_io BT2 A6
set_io BT3 A7
set_io BT4 B5 
set_io BT5 B6 
set_io BT6 B7 
set_io A0 C16 
set_io A1 T15 
set_io A2 R16 
set_io A3 R15 
set_io A4 P16 
set_io A5 P15 
set_io A6 N16 
set_io A7 M16 
set_io A8 M15 
set_io A9 L16 
set_io A10 T14 
set_io A11 R14  
set_io A12 P14 
set_io A13 L14 
set_io A14 D14 
set_io A15 C14 
set_io D0 D16 
set_io D1 D15 
set_io D2 B16 
set_io D3 B15 
set_io D4 A16 
set_io D5 A15 
set_io D6 E16 
set_io D7 F15 
set_io D8 F16 
set_io D9 G15 
set_io D10 G16 
set_io D11 J15 
set_io D12 J16 
set_io D13 K15 
set_io D14 K16 
set_io D15 T16 
set_io FSMC_NOE F14 
set_io FSMC_NWE H14 
set_io FSMC_NE1 J14 
set_io FSMC_NE4 K14 
set_io FSMC_NL_NADV B14
set_io FPGA_SPI_SCLK R10
set_io FPGA_SPI_MOSI P10
set_io FPGA_SPI_MISO N12
set_io FPGA_SPI_CS R12 
set_io FSMC_CLK_IN K9 
set_io MIC_CLK R6 
set_io MIC_DATA R5 
